<%= form_for :comment, :url => ticket_comments_path(@ticket), method: :create, :html => {class: "comment-form", role: "form"} do |f| %>
  <div class="avatar comment-avatar">
    <i class="fas fa-user user-avatar"></i>
  </div>

  <div class="comment-container">
    <div class="comment-show-container">
      <%= f.text_area :body, class: "comment-show-container-content", id: "request_comment_body", 
                    placeholder: "Add to conversation...", autofocus: true %>
    </div>

    <div class="comment-form-actions">
      <%= link_to "Mark as solved", update_status_ticket_path(@ticket), class: "button-large mark-as-solved", type: "button" if current_user.is_agent?%>
      <%= f.submit "Submit", class: "button-large", :disabled => (@ticket.comments.agent_comments.empty? && !current_user.is_agent?) %>
    </div>
  </div>

<% end %>
